---
include:
  - project: infra/common/ci-templates
    file:
      - pipelines/docs-v3/pipe.gitlab-ci.yml

variables:
  # pipeline parameters
  VKCS_D11N_VERSION: '5.2.9'
  VKCS_DOCKERFILE_PATH: devops/Dockerfile
  VKCS_DEV_DEPLOY_MODE: auto
  VKCS_PROD_DEPLOY_MODE: auto
  VKCS_STAGE_DEPLOY_MODE: auto
  VKCS_RELEASE_BRANCH: master
  VKCS_RELEASES_ENABLED: "true"
  VKCS_K8S_DEV_INGRESS_PATH: /docs

  # Test satori
  BUILD_ARG_001: SATORI_API_KEY_2
  BUILD_ARG_002: SATORI_API_BASE_URL

  # Github sync variables
  VKCS_GITHUB_REPO: vk-cs/docs-public
  # must be defined in Project CI/CD
  # GITHUB_TOKEN: secret
  # GITLAB_TOKEN: secret

  VKCS_AUDIT_ENABLED: "true"
  VKCS_AUDIT_CHECK_URL_STAGE: "https://mcstest.mail.ru"
  VKCS_AUDIT_CHECK_URL_PROD: "https://cloud.vk.com"

  # NOTE: override variables to reuse ansible playbooks after changes in MCSAD-1045
  HELM_CHART_NAME: new-help
  VKCS_AWX_JOB_TEMPLATE_LABEL: ${HELM_CHART_NAME}-helm
