After registering, you will be taken to a confirmation page where you can manage your account settings. To start using VK CS services, you need to confirm your email. A confirmation message will be sent immediately.

<warn>

If a confirmation message has not been received, try sending it through the VK CS panel again, or go to the Spam folder, it may have got there in accordance with the filtering rules of the mail service.

</warn>

When you click on the link, you will be redirected to your personal account, your account will be confirmed. You can see the structure of the personal account services.
