{
  "swagger": "2.0",
  "info": {
    "description": "API specification for Karboii (backups). Supports operations with backups for Nova and Trove servers, and Cinder volumes",
    "version": "0.0.1",
    "title": "Karboii"
  },
  "host": "mcs.mail.ru",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "keystone": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Auth-Token"
    }
  },
  "security": [
    {
      "keystone": []
    }
  ],
  "paths": {
    "/{project_id}/plans": {
      "post": {
        "tags": [
          "plans"
        ],
        "summary": "Create a plan",
        "operationId": "createPlan",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "plan",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/postPlanRequest"
            },
            "required": true,
            "description": "`postPlanRequest` object in JSON format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/planResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          },
          "500": {
            "description": "Unable to create a plan",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "plans"
        ],
        "summary": "List plans",
        "operationId": "listPlans",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of sort keys"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "description": "Items page size"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Number of items to skip"
          },
          {
            "name": "scheduled",
            "in": "query",
            "type": "integer",
            "description": "Whether to show manual or automatic backups. 0 is to show manual ones"
          },
          {
            "name": "checkpoints_stats_from",
            "in": "query",
            "type": "integer",
            "description": "Beginning of the time period to collect plan checkpoint information in Unix Timestamp. Required to get checkpoint statistics. Specify the max integer in both (from-to) parameters to get checkpoint statistics for the last plan checkpoints."
          },
          {
            "name": "checkpoints_stats_to",
            "in": "query",
            "type": "integer",
            "description": "End of the time period to collect plan checkpoint information in Unix Timestamp. Required to get checkpoint statistics. Specify the max integer in both (from-to) parameters to get checkpoint statistics for the last plan checkpoints."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listPlanResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          },
          "500": {
            "description": "Unable to list plans",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/plans/default": {
      "get": {
        "tags": [
          "plans"
        ],
        "summary": "Get or create the default plan",
        "operationId": "getOrCreateDefaultPlan",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/planResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters"
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          },
          "404": {
            "description": "Provided plan ID is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to get the plan",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/plans/{plan_id}": {
      "get": {
        "tags": [
          "plans"
        ],
        "summary": "Get the plan",
        "operationId": "getPlan",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "plan_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the plan in UUID format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/planResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters"
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          },
          "404": {
            "description": "Provided plan ID is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to get the plan",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "plans"
        ],
        "summary": "Update the plan",
        "operationId": "putPlan",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "plan_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the plan in UUID format"
          },
          {
            "name": "plan",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/putPlanRequest"
            },
            "description": "`putPlanRequest` object in JSON format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/planResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Provided plan ID is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to update the plan",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "plans"
        ],
        "summary": "Delete the plan",
        "operationId": "deletePlan",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "plan_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the plan in UUID format"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "404": {
            "description": "Provided plan ID is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to delete the plan",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/plans/{plan_id}/resources": {
      "post": {
        "tags": [
          "plans"
        ],
        "summary": "Add a resource to a backup plan",
        "operationId": "createPlanResource",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "plan_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the plan in UUID format"
          },
          {
            "name": "plan_resource",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/resources"
            },
            "required": true,
            "description": "Plan resources passed to be added in the plan"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/resources"
            }
          },
          "404": {
            "description": "Provided plan ID or project ID is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to add a resource to the plan",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/plans/{plan_id}/resources/{resource_id}": {
      "delete": {
        "tags": [
          "plans"
        ],
        "summary": "Delete a resource from a backup plan",
        "operationId": "deletePlanResource",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "plan_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the plan in UUID format"
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of a plan resource to be deleted in UUID format"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "404": {
            "description": "Provided plan ID or project ID is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "Request is invalid",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to delete the plan resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/triggers": {
      "post": {
        "tags": [
          "triggers"
        ],
        "summary": "Create a trigger",
        "operationId": "postTrigger",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "trigger",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/triggerRequest"
            },
            "required": true,
            "description": "`triggerRequest` object in JSON format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/triggerResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Provided plan ID is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to create the trigger",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "triggers"
        ],
        "summary": "List triggers",
        "operationId": "listTriggers",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of sort keys"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "description": "Items page size"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listTriggersResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to get the trigger",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/triggers/{trigger_id}": {
      "get": {
        "tags": [
          "triggers"
        ],
        "summary": "Get the trigger",
        "operationId": "getTrigger",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "trigger_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the trigger in UUID format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/triggerResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Provided trigger ID is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to get the trigger",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "triggers"
        ],
        "summary": "Update the trigger",
        "operationId": "putTrigger",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "trigger_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the trigger in UUID format"
          },
          {
            "name": "trigger",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/updateTriggerRequest"
            },
            "required": true,
            "description": "`updateTriggerRequest` object in JSON format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/triggerResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Provided trigger ID is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unable to update the trigger",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/providers/{provider_id}/checkpoints": {
      "post": {
        "tags": [
          "checkpoints"
        ],
        "summary": "Create a checkpoint",
        "operationId": "postCheckpoint",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "provider_id",
            "in": "path",
            "format": "uuid",
            "type": "string",
            "required": true,
            "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
            "enum": [
              "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
              "7ab9410c-edda-4623-a51a-1bb806666cb3",
              "e987c60b-5925-431c-a15b-6b8f87291c8c"
            ]
          },
          {
            "name": "checkpoint",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/checkpointRequestObject"
            },
            "required": true,
            "description": "`checkpointRequestObject` in JSON format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/checkpointResponseObject"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "The previous checkpoint is still processing. Try again later",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "checkpoints"
        ],
        "summary": "List checkpoints",
        "operationId": "listCheckpoints",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "provider_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
            "enum": [
              "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
              "7ab9410c-edda-4623-a51a-1bb806666cb3",
              "e987c60b-5925-431c-a15b-6b8f87291c8c"
            ]
          },
          {
            "name": "plan_id",
            "in": "query",
            "type": "string",
            "format": "uuid",
            "description": "Filter checkpoints by plan ID"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of sort keys"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "description": "Items page size"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listCheckpointsResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/providers/{provider_id}/plan_checkpoints": {
      "post": {
        "tags": [
          "checkpoints"
        ],
        "summary": "Create a checkpoint for plan",
        "operationId": "postPlanCheckpoints",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "provider_id",
            "in": "path",
            "format": "uuid",
            "type": "string",
            "required": true,
            "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
            "enum": [
              "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
              "7ab9410c-edda-4623-a51a-1bb806666cb3",
              "e987c60b-5925-431c-a15b-6b8f87291c8c"
            ]
          },
          {
            "name": "planCheckpoints",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/planCheckpointsRequestObject"
            },
            "required": true,
            "description": "`planCheckpointsRequestObject` in JSON format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/planCheckpointsResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/checkpoints": {
      "get": {
        "tags": [
          "checkpoints"
        ],
        "summary": "Get plan's checkpoints grouped by plan_id",
        "operationId": "getCheckpointsGroupedByPlanID",
        "parameters": [
          {
            "name": "plan_id",
            "in": "query",
            "type": "string",
            "format": "uuid",
            "description": "Plan ID",
            "required": true
          },
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listCheckpointsGroupedByPlanIDResponse"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/providers/{provider_id}/checkpoints/{checkpoint_id}": {
      "get": {
        "tags": [
          "checkpoints"
        ],
        "summary": "Get the checkpoint",
        "operationId": "getCheckpoint",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "provider_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
            "enum": [
              "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
              "7ab9410c-edda-4623-a51a-1bb806666cb3",
              "e987c60b-5925-431c-a15b-6b8f87291c8c"
            ]
          },
          {
            "name": "checkpoint_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the checkpoint in UUID format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/checkpointResponseObject"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Checkpoint is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "checkpoints"
        ],
        "summary": "Delete the checkpoint",
        "operationId": "deleteCheckpoint",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "provider_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
            "enum": [
              "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
              "7ab9410c-edda-4623-a51a-1bb806666cb3",
              "e987c60b-5925-431c-a15b-6b8f87291c8c"
            ]
          },
          {
            "name": "checkpoint_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the checkpoint in UUID format"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "The checkpoint is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/providers/{provider_id}/checkpoints/{checkpoint_id}/resource_metadata/{resource_id}": {
      "get": {
        "tags": [
          "checkpoints"
        ],
        "summary": "Get the checkpoint's metadata",
        "operationId": "getCheckpointMeta",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "provider_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
            "enum": [
              "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
              "7ab9410c-edda-4623-a51a-1bb806666cb3",
              "e987c60b-5925-431c-a15b-6b8f87291c8c"
            ]
          },
          {
            "name": "checkpoint_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the checkpoint in UUID format"
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the checkpoint resource in UUID format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/checkpointMetadataObject"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "The checkpoint or the requested resource are not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/restores": {
      "post": {
        "tags": [
          "restores"
        ],
        "summary": "Create a restore",
        "operationId": "postRestore",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "restore",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/restoreApiObject"
            },
            "required": true,
            "description": "`restoreApiObject` in JSON format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/restoreApiObject"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "restores"
        ],
        "summary": "List restores",
        "operationId": "listRestores",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of sort keys"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "description": "Items page size"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Number of items to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listRestoreResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/restores/{restore_id}": {
      "get": {
        "tags": [
          "restores"
        ],
        "summary": "Get restore",
        "operationId": "getRestore",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "restore_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the restore in UUID format"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/restoreApiObject"
            }
          },
          "404": {
            "description": "Restore is not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/providers": {
      "get": {
        "tags": [
          "providers"
        ],
        "summary": "List providers",
        "operationId": "listProviders",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/providerListResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters"
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          }
        }
      }
    },
    "/{project_id}/providers/{provider_id}": {
      "get": {
        "tags": [
          "providers"
        ],
        "summary": "Get provider info",
        "operationId": "getProvider",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "provider_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
            "enum": [
              "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
              "7ab9410c-edda-4623-a51a-1bb806666cb3",
              "e987c60b-5925-431c-a15b-6b8f87291c8c"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/providerResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          }
        }
      }
    },
    "/{project_id}/resources": {
      "get": {
        "tags": [
          "resources"
        ],
        "summary": "Get unused resources",
        "operationId": "getUnusedResources",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "OpenStack project_id"
          },
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Type of the requested resource"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listResourcesResponse"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect."
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this action."
          },
          "500": {
            "description": "Unable to fetch resources without plans",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/resources/{provider_id}/in-use": {
      "get": {
        "tags": [
          "resources"
        ],
        "summary": "List the project's resources in use which have `protecting` or `restoring` statuses",
        "operationId": "getInUseResources",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "provider_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
            "enum": [
              "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
              "7ab9410c-edda-4623-a51a-1bb806666cb3",
              "e987c60b-5925-431c-a15b-6b8f87291c8c"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InUseResources"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          },
          "500": {
            "description": "Unable to fetch in-use resources",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/statistics/plans": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "Count plans in project and its size",
        "operationId": "getStatisticsPlans",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/plansStatistics"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          },
          "500": {
            "description": "Unable to fetch statistics",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/statistics/checkpoints": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "List number of checkpoints with statuses",
        "operationId": "getStatisticsCheckpoints",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "from",
            "in": "query",
            "type": "integer",
            "description": "Beginning of the time period to collect checkpoints information in Unix Timestamp. Specify the max integer in both (from-to) parameters to get checkpoint statistics for the last plan checkpoints."
          },
          {
            "name": "to",
            "in": "query",
            "type": "integer",
            "description": "End of the time period to collect checkpoints information in Unix Timestamp. Specify the max integer in both (from-to) parameters to get checkpoint statistics for the last plan checkpoints."
          },
          {
            "name": "scheduled",
            "in": "query",
            "type": "integer",
            "description": "Whether to show stats of manual or automatic backups. 0 is to show manual ones"
          },
          {
            "name": "summary",
            "in": "query",
            "type": "integer",
            "description": "- `1` — shows sum of scheduled and not scheduled backup size (if passed then \"scheduled\" ignoring).\n- `0` — show backup size depends on \"scheduled\"."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/checkpointStatistics"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          },
          "500": {
            "description": "Unable to fetch statistics",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{project_id}/statistics/restores": {
      "get": {
        "tags": [
          "statistics"
        ],
        "summary": "List number of restores with statuses",
        "operationId": "getStatisticsRestores",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "type": "string",
            "format": "uuid",
            "required": true,
            "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
          },
          {
            "name": "from",
            "in": "query",
            "type": "integer",
            "description": "Beginning of the time period to fetch statistics in Unix Timestamp. Specify the max integer in both (from-to) parameters to get checkpoint statistics for the last plan checkpoints."
          },
          {
            "name": "to",
            "in": "query",
            "type": "integer",
            "description": "End of the time period to fetch statistics in Unix Timestamp. Specify the max integer in both (from-to) parameters to get checkpoint statistics for the last plan checkpoints."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/restoreStatistics"
            }
          },
          "400": {
            "description": "Unacceptable parameters",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "User must authenticate before making a request"
          },
          "403": {
            "description": "Policy does not allow current user to do this operation"
          },
          "500": {
            "description": "Unable to fetch statistics",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "healthchecker"
        ],
        "summary": "Health check",
        "operationId": "HealthCheck",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "resources": {
      "description": "`planResource` to be added to the plan",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID"
        },
        "type": {
          "type": "string",
          "description": "Resource type",
          "enum": [
            "OS::Nova::Server",
            "OS::Cinder::Volume",
            "OS::Trove::Instance",
            "OS::Trove::Cluster",
            "OS::Sahara::Cluster"
          ]
        },
        "name": {
          "type": "string",
          "description": "Resource name. By default it's an instance name (+ `_restored` if it was restored from the backup)"
        },
        "resources": {
          "type": "array",
          "description": "Sub resources (e.g., volumes for a server)",
          "items": {
            "$ref": "#/definitions/resources"
          }
        }
      },
      "required": [
        "id",
        "type"
      ]
    },
    "checkpointResources": {
      "type": "object",
      "description": "Resource of the checkpoint",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of checkpoint resource"
        },
        "original_id": {
          "type": "string",
          "description": "ID of the original instance (VM, DB, DB Cluster or Drive)"
        },
        "external_id": {
          "type": "string",
          "description": "The backup ID in Cinder service"
        },
        "type": {
          "type": "string",
          "description": "Type of the checkpoint resource",
          "enum": [
            "OS::Nova::Server",
            "OS::Cinder::Volume",
            "OS::Trove::Instance",
            "OS::Trove::Cluster",
            "OS::Sahara::Cluster"
          ]
        },
        "status": {
          "type": "string",
          "description": "Status of the checkpoint resource",
          "enum": [
            "available",
            "protecting",
            "deleting",
            "deleted",
            "error",
            "error-deleting",
            "error-stopped"
          ]
        },
        "parent_id": {
          "type": "string",
          "x-nullable": true,
          "description": "ONLY FOR NOVA: ID of the VM resource in the volume(s)"
        },
        "name": {
          "type": "string",
          "description": "Name of the checkpoint resource"
        }
      },
      "required": [
        "name",
        "original_id",
        "type",
        "id"
      ]
    },
    "planParameters": {
      "type": "object",
      "x-nullable": true,
      "additionalProperties": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "description": "DEPRECATED. Left to support types for old Karbor versions in the private cloud"
    },
    "planStatusObject": {
      "description": "Status of the plan. `running` — the plan is active; `suspended` — the plan is stopped; `deleted` — the plan is deleted",
      "type": "string",
      "enum": [
        "running",
        "suspended",
        "deleted"
      ]
    },
    "shortPlanObject": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/planStatusObject"
        },
        "name": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        },
        "full_day": {
          "type": "integer",
          "x-nullable": true,
          "maximum": 6,
          "minimum": 0,
          "description": "- `NULL` — full backups plan.\n- `0-6` — incremental backups plan, the number represents the full backup day of the week."
        },
        "retention_type": {
          "$ref": "#/definitions/retentionType"
        },
        "gfs": {
          "$ref": "#/definitions/gfsRequest"
        },
        "object_lock": {
          "$ref": "#/definitions/objectLock"
        },
        "resources": {
          "type": "array",
          "maxItems": 100,
          "items": {
            "$ref": "#/definitions/resources"
          }
        },
        "is_default": {
          "type": "boolean"
        }
      }
    },
    "planObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the plan in UUID format"
        },
        "project_id": {
          "type": "string",
          "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
        },
        "name": {
          "type": "string",
          "description": "Name of the plan"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/resources"
          }
        },
        "provider_id": {
          "type": "string",
          "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
          "enum": [
            "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
            "7ab9410c-edda-4623-a51a-1bb806666cb3",
            "e987c60b-5925-431c-a15b-6b8f87291c8c"
          ]
        },
        "status": {
          "$ref": "#/definitions/planStatusObject"
        },
        "parameters": {
          "$ref": "#/definitions/planParameters"
        },
        "full_day": {
          "description": "- `NULL` — full backup.\n- `0-6` — incremental backup, the number represents the full backup day of the week.",
          "type": "integer"
        },
        "retention_type": {
          "$ref": "#/definitions/retentionType"
        },
        "gfs": {
          "$ref": "#/definitions/gfsResponse"
        },
        "checkpoints_stats": {
          "$ref": "#/definitions/checkpointStatistics"
        },
        "object_lock": {
          "$ref": "#/definitions/objectLock"
        },
        "is_default": {
          "type": "boolean"
        }
      },
      "required": [
        "name",
        "id",
        "resources",
        "full_day"
      ]
    },
    "putPlanRequest": {
      "type": "object",
      "properties": {
        "plan": {
          "$ref": "#/definitions/shortPlanObject"
        }
      }
    },
    "postPlanRequest": {
      "type": "object",
      "properties": {
        "plan": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "description": "Name of the plan"
            },
            "resources": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/resources"
              }
            },
            "provider_id": {
              "type": "string",
              "description": "ID of the provider. Hardcoded Nova, Trove and Sahara are supported.\n\n- **Nova**: `37997f75-0637-4a69-bf7e-49ff2ff11fa5`\n- **Trove**: `7ab9410c-edda-4623-a51a-1bb806666cb3`\n- **Sahara**: `e987c60b-5925-431c-a15b-6b8f87291c8c`",
              "enum": [
                "37997f75-0637-4a69-bf7e-49ff2ff11fa5",
                "7ab9410c-edda-4623-a51a-1bb806666cb3",
                "e987c60b-5925-431c-a15b-6b8f87291c8c"
              ]
            },
            "parameters": {
              "$ref": "#/definitions/planParameters"
            },
            "full_day": {
              "type": "integer",
              "x-nullable": true,
              "maximum": 6,
              "minimum": 0,
              "description": "- `NULL` — full backup.\n- `0-6` — incremental backup, the number represents the full backup day of the week."
            },
            "retention_type": {
              "$ref": "#/definitions/retentionType"
            },
            "gfs": {
              "$ref": "#/definitions/gfsRequest"
            },
            "object_lock": {
              "$ref": "#/definitions/objectLock"
            },
            "is_default": {
              "type": "boolean"
            }
          },
          "required": [
            "name",
            "resources",
            "provider_id"
          ]
        }
      }
    },
    "planResponse": {
      "type": "object",
      "properties": {
        "plan": {
          "$ref": "#/definitions/planObject"
        }
      }
    },
    "listPlanResponse": {
      "type": "object",
      "properties": {
        "plans": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/planObject"
          }
        }
      }
    },
    "listTriggersResponse": {
      "type": "object",
      "properties": {
        "triggers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/triggerObject"
          }
        }
      }
    },
    "triggerResponse": {
      "type": "object",
      "properties": {
        "trigger_info": {
          "$ref": "#/definitions/triggerObject"
        }
      }
    },
    "triggerRequest": {
      "type": "object",
      "properties": {
        "trigger_info": {
          "$ref": "#/definitions/shortTriggerObject"
        }
      }
    },
    "updateTriggerRequest": {
      "type": "object",
      "properties": {
        "trigger_info": {
          "type": "object",
          "properties": {
            "max_backups": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max backups amount stored in the plan"
            },
            "pattern": {
              "type": "string",
              "description": "Pattern represents the cron rule for a backup. Note: for a DB or a DB cluster, if they have a time period of less than 1 day, only 3, 6, and 12 periods of time are available"
            },
            "name": {
              "type": "string",
              "minLength": 3,
              "maxLength": 100,
              "description": "Name of the trigger"
            }
          }
        }
      },
      "required": [
        "trigger_info"
      ]
    },
    "shortTriggerObject": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "minLength": 3,
          "maxLength": 100,
          "description": "Name of the trigger"
        },
        "plan_id": {
          "type": "string",
          "description": "ID of the plan"
        },
        "properties": {
          "$ref": "#/definitions/triggerProperties"
        }
      },
      "required": [
        "name",
        "properties",
        "plan_id"
      ]
    },
    "triggerObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the trigger"
        },
        "plan_id": {
          "type": "string",
          "description": "ID of the plan"
        },
        "name": {
          "type": "string",
          "description": "Name of the trigger"
        },
        "properties": {
          "$ref": "#/definitions/triggerProperties"
        },
        "project_id": {
          "type": "string",
          "description": "<a href='https://cloud.vk.ru/docs/ru/tools-for-using-services/api/rest-api/endpoints#rest-api-endpoints-get-project-id'>ID of the project</a>. You can find it in your VK Cloud management console in the project settings, **Terraform** tab"
        }
      },
      "required": [
        "name",
        "id",
        "plan_id",
        "properties",
        "project_id"
      ],
      "description": "The object by default is created only in automatic backup plans"
    },
    "triggerProperties": {
      "type": "object",
      "description": "Different properties of the trigger. See the `triggerProperties` object description for more info",
      "properties": {
        "pattern": {
          "type": "string",
          "description": "Pattern represents the cron rule for a backup. Note: for a DB or a DB cluster, if they have a time period of less than 1 day, only 3, 6, and 12 hour periods of time are available"
        },
        "max_backups": {
          "type": "integer",
          "maximum": 200,
          "minimum": 1,
          "description": "Max backups amount stored in the plan"
        },
        "next_time": {
          "type": "integer",
          "description": "Shows the time when the next backup will be created"
        }
      },
      "required": [
        "pattern"
      ]
    },
    "retentionType": {
      "type": "string",
      "enum": [
        "max_backups",
        "gfs"
      ],
      "description": "Type of the retention policy"
    },
    "objectLock": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "compliance",
            "governance",
            "legalhold"
          ]
        },
        "days": {
          "type": "integer",
          "format": "int32"
        },
        "retain_until": {
          "type": "integer",
          "format": "int64"
        }
      },
      "required": [
        "type"
      ]
    },
    "gfsRequest": {
      "type": "object",
      "description": "`gfsRequest` object in JSON format while using GFS retention policy",
      "properties": {
        "grandfather": {
          "type": "integer",
          "maximum": 10,
          "minimum": 0,
          "x-nullable": false,
          "description": "How many yearly backups to keep"
        },
        "father": {
          "type": "integer",
          "maximum": 120,
          "minimum": 0,
          "x-nullable": false,
          "description": "How many monthly backups to keep"
        },
        "son": {
          "type": "integer",
          "maximum": 53,
          "minimum": 1,
          "x-nullable": false,
          "description": "How many daily backups to keep"
        }
      },
      "required": [
        "son"
      ]
    },
    "gfsResponse": {
      "type": "object",
      "properties": {
        "grandfather": {
          "type": "integer",
          "maximum": 10,
          "minimum": 0,
          "x-nullable": false,
          "description": "How many yearly backups to keep"
        },
        "father": {
          "type": "integer",
          "maximum": 120,
          "minimum": 0,
          "x-nullable": false,
          "description": "How many monthly backups to keep"
        },
        "son": {
          "type": "integer",
          "maximum": 53,
          "minimum": 1,
          "x-nullable": false,
          "description": "How many daily backups to keep"
        }
      },
      "required": [
        "grandfather",
        "father",
        "son"
      ]
    },
    "entityCount": {
      "type": "object",
      "properties": {
        "available": {
          "type": "integer",
          "description": "How many entities are available"
        },
        "in_progress": {
          "type": "integer",
          "description": "How many entities are in progress"
        },
        "error": {
          "type": "integer",
          "description": "How many entities have errored"
        }
      }
    },
    "listCheckpointsResponse": {
      "type": "object",
      "properties": {
        "checkpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/checkpointObject"
          }
        }
      }
    },
    "listCheckpointsGroupedByPlanIDResponse": {
      "type": "object",
      "properties": {
        "project_id": {
          "type": "string"
        },
        "plan_id": {
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/resource"
          }
        }
      }
    },
    "resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resource_type": {
          "type": "string",
          "description": "Type of the resource"
        },
        "number_of_full_backups": {
          "type": "integer"
        },
        "number_of_incremental_backups": {
          "type": "integer"
        },
        "last_created_at": {
          "type": "string"
        },
        "total_size": {
          "type": "integer"
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/backup"
          }
        }
      }
    },
    "backup": {
      "type": "object",
      "properties": {
        "checkpoint_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/checkpointStatus"
        },
        "checkpoint_resource_id": {
          "type": "string"
        },
        "is_incremental": {
          "type": "boolean",
          "x-omitempty": false
        },
        "is_old_backup": {
          "type": "boolean",
          "x-omitempty": false,
          "description": "Is it shared by several checkpoints"
        },
        "size": {
          "type": "integer",
          "description": "Size of the backup"
        },
        "created_at": {
          "type": "string"
        },
        "done_at": {
          "type": "string"
        },
        "link_id": {
          "type": "string"
        },
        "object_lock": {
          "$ref": "#/definitions/objectLock"
        },
        "error_detail": {
          "$ref": "#/definitions/checkpointErrorObject"
        }
      }
    },
    "checkpointStatus": {
      "description": "Status of the checkpoint",
      "type": "string",
      "enum": [
        "error",
        "protecting",
        "available",
        "deleting",
        "deleted",
        "error-deleting",
        "new",
        "restoring"
      ]
    },
    "checkpointRequestObject": {
      "type": "object",
      "properties": {
        "checkpoint": {
          "$ref": "#/definitions/checkpointShortObject"
        }
      },
      "required": [
        "checkpoint"
      ]
    },
    "checkpointResponseObject": {
      "type": "object",
      "properties": {
        "checkpoint": {
          "$ref": "#/definitions/checkpointObject"
        }
      }
    },
    "planCheckpointsRequestObject": {
      "type": "object",
      "properties": {
        "planCheckpoints": {
          "$ref": "#/definitions/planCheckpointsShortObject"
        }
      },
      "required": [
        "planCheckpoints"
      ]
    },
    "planCheckpointsResponse": {
      "type": "object",
      "properties": {
        "checkpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/checkpointObject"
          }
        }
      }
    },
    "checkpointMetadataObject": {
      "type": "object",
      "properties": {
        "resource_metadata": {
          "type": "object",
          "properties": {
            "server_metadata": {
              "$ref": "#/definitions/checkpointServerMetadata"
            },
            "boot_metadata": {
              "$ref": "#/definitions/checkpointBootMetadata"
            },
            "attach_metadata": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/bootAttachMetadata"
              }
            },
            "database_metadata": {
              "$ref": "#/definitions/databaseMetadata"
            }
          }
        }
      }
    },
    "databaseMetadata": {
      "type": "object",
      "properties": {
        "meta": {
          "type": "string"
        },
        "datastore": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string"
            },
            "version": {
              "type": "string"
            }
          }
        },
        "flavor": {
          "type": "string"
        },
        "size": {
          "type": "integer"
        }
      }
    },
    "checkpointServerMetadata": {
      "type": "object",
      "properties": {
        "availability_zone": {
          "type": "string"
        },
        "key_name": {
          "type": "string"
        },
        "floating_ips": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flavor": {
          "type": "string"
        },
        "networks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "security_groups": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "bootAttachMetadata": {
      "type": "object",
      "properties": {
        "volume_image_metadata": {
          "type": "object",
          "properties": {
            "os_distro": {
              "type": "string"
            },
            "os_require_quiesce": {
              "type": "string"
            },
            "image_id": {
              "type": "string"
            },
            "container_format": {
              "type": "string"
            },
            "hw_qemu_guest_agent": {
              "type": "string"
            },
            "disk_format": {
              "type": "string"
            },
            "os_admin_user": {
              "type": "string"
            },
            "image_name": {
              "type": "string"
            },
            "os_version": {
              "type": "string"
            },
            "hw_boot_menu": {
              "type": "string"
            },
            "hw_rng_model": {
              "type": "string"
            },
            "min_disk": {
              "type": "string"
            },
            "checksum": {
              "type": "string"
            },
            "min_ram": {
              "type": "string"
            },
            "size": {
              "type": "string"
            }
          }
        },
        "server_id": {
          "type": "string"
        },
        "attachment_id": {
          "type": "string"
        },
        "availability_zone": {
          "type": "string"
        },
        "bootable": {
          "type": "string"
        },
        "attached_at": {
          "type": "string"
        },
        "volume_type": {
          "type": "string"
        },
        "volume_type_id": {
          "type": "string"
        },
        "host_name": {
          "type": "string"
        },
        "volume_id": {
          "type": "string"
        },
        "device": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "size": {
          "type": "integer"
        }
      }
    },
    "checkpointBootMetadata": {
      "type": "object",
      "properties": {
        "boot_attach_metadata": {
          "$ref": "#/definitions/bootAttachMetadata"
        },
        "boot_volume_id": {
          "type": "string"
        },
        "boot_device_type": {
          "type": "string"
        }
      }
    },
    "checkpointShortObject": {
      "type": "object",
      "properties": {
        "plan_id": {
          "type": "string"
        },
        "resource_id": {
          "type": "string"
        },
        "extra_info": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "plan_id"
      ]
    },
    "planCheckpointsShortObject": {
      "type": "object",
      "properties": {
        "plan_id": {
          "type": "string"
        },
        "extra_info": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "plan_id"
      ]
    },
    "checkpointObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the checkpoint"
        },
        "project_id": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/checkpointStatus"
        },
        "protection_plan": {
          "$ref": "#/definitions/checkpointPlanObject"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/checkpointResources"
          },
          "description": "Resource of the checkpoint"
        },
        "size": {
          "type": "integer",
          "description": "Size of the checkpoint. Represents the sum of its resource sizes (the maximum capacity of each is counted)"
        },
        "resource_size": {
          "type": "integer",
          "description": "Size of the backup. Represents the sum of its backup sizes (used space of each is counted)"
        },
        "timestamp": {
          "type": "integer",
          "description": "When the checkpoint was created in Unix Timestamp (service field)"
        },
        "created_at": {
          "type": "string",
          "description": "When the checkpoint was created in ISO 8601 standard"
        },
        "done_at": {
          "type": "string",
          "description": "When the checkpoint was completed in ISO 8601 standard"
        },
        "link_id": {
          "type": "string",
          "description": "NULL if the backup is full, UUID if the backup is incremental"
        },
        "object_lock": {
          "$ref": "#/definitions/objectLock"
        },
        "extra_info": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "external_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of the external resources. By default, a VM has 2 external IDs: the Nova instance and its boot drive in Cinder. A DB and a DB cluster have only 1 external ID"
        },
        "error_detail": {
          "$ref": "#/definitions/checkpointErrorObject"
        }
      },
      "required": [
        "id",
        "timestamp",
        "status",
        "size",
        "protection_plan",
        "created_at",
        "external_ids"
      ]
    },
    "checkpointErrorObject": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "enum": [
            "auth-service",
            "breeze",
            "cinder",
            "glance",
            "neutron",
            "nova",
            "sahara",
            "trove",
            "karboii"
          ],
          "description": "The name of the external service that returned an error while creating the checkpoint"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "checkpointPlanObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/resources"
          }
        }
      },
      "required": [
        "id",
        "resources"
      ]
    },
    "restoreApiObject": {
      "type": "object",
      "properties": {
        "restore": {
          "$ref": "#/definitions/restoreObject"
        }
      }
    },
    "listRestoreResponse": {
      "type": "object",
      "properties": {
        "restores": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/restoreObject"
          }
        }
      }
    },
    "restoreObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the restore"
        },
        "provider_id": {
          "type": "string"
        },
        "checkpoint_id": {
          "type": "string",
          "description": "ID of the checkpoint related to the restore"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/restoreParameters"
          },
          "description": "Parameters necessary for `restoreObject` to be restored"
        },
        "resources_reason": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Reasons for the erroneous resources that could not be restored"
        },
        "resources_status": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Statuses of the resources"
        }
      },
      "required": [
        "provider_id",
        "checkpoint_id",
        "parameters"
      ]
    },
    "restoreParameters": {
      "type": "object",
      "properties": {
        "restore_name": {
          "type": "string"
        },
        "restore_keypair": {
          "type": "string"
        },
        "availability_zone": {
          "type": "string"
        },
        "restore_net_id": {
          "type": "string"
        },
        "nics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/nics"
          }
        },
        "destination": {
          "type": "string"
        },
        "volume_type": {
          "type": "string"
        },
        "volume_size": {
          "type": "integer",
          "format": "int64"
        },
        "enable_fip": {
          "type": "boolean"
        },
        "flavor": {
          "type": "string"
        },
        "volume_target_vm_id": {
          "type": "string"
        },
        "volume_autoresize_enabled": {
          "type": "integer"
        },
        "volume_autoresize_max_size": {
          "type": "integer"
        },
        "configuration": {
          "type": "string"
        },
        "allow_remote_access": {
          "type": "boolean"
        },
        "security_groups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backup_schedule": {
          "$ref": "#/definitions/postBackupSchedule"
        },
        "cloud_monitoring_enabled": {
          "type": "boolean"
        },
        "databases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/database"
          }
        },
        "capabilities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/postCapability"
          }
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/db_user"
          }
        },
        "wal_volume": {
          "$ref": "#/definitions/walVolume"
        },
        "replica_of": {
          "type": "string"
        },
        "replica_count": {
          "type": "integer"
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/postClusterInstance"
          }
        }
      },
      "required": [
        "restore_name"
      ]
    },
    "postClusterInstance": {
      "type": "object",
      "properties": {
        "key_name": {
          "type": "string"
        },
        "availability_zone": {
          "type": "string"
        },
        "flavorRef": {
          "type": "string"
        },
        "nics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/nics"
          }
        },
        "security_groups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "volume": {
          "$ref": "#/definitions/volume"
        },
        "wal_volume": {
          "$ref": "#/definitions/volume"
        },
        "shard_id": {
          "type": "string"
        },
        "capabilities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/postCapability"
          }
        },
        "cloud_monitoring_enabled": {
          "type": "boolean"
        },
        "volume_autoresize_enabled": {
          "type": "boolean"
        },
        "volume_autoresize_max_size": {
          "type": "integer"
        }
      },
      "required": [
        "availability_zone",
        "flavorRef",
        "nics",
        "volume"
      ]
    },
    "volume": {
      "type": "object",
      "properties": {
        "size": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        }
      },
      "example": {
        "size": 100,
        "type": "ef-nvme"
      }
    },
    "walVolume": {
      "type": "object",
      "properties": {
        "size": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "autoresize_enabled": {
          "type": "integer"
        },
        "autoresize_max_size": {
          "type": "integer"
        }
      },
      "example": {
        "size": 100,
        "type": "ef-nvme",
        "autoresize_enabled": 1,
        "autoresize_max_size": 350
      }
    },
    "postCapability": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "example": {
            "database": "testdb"
          }
        }
      },
      "required": [
        "name"
      ]
    },
    "database": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "example": {
        "name": "mydb1"
      }
    },
    "db_user": {
      "type": "object",
      "properties": {
        "databases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/database"
          }
        },
        "name": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "example": {
        "databases": [
          "mydb1"
        ],
        "name": "user1",
        "password": "qwerty"
      }
    },
    "postBackupSchedule": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "my schedule"
        },
        "start_hours": {
          "type": "integer",
          "example": 0
        },
        "start_minutes": {
          "type": "integer",
          "example": 1
        },
        "interval_hours": {
          "type": "integer",
          "example": 24
        },
        "keep_count": {
          "type": "integer",
          "example": 7
        }
      },
      "required": [
        "start_hours",
        "start_minutes",
        "interval_hours",
        "keep_count"
      ]
    },
    "nics": {
      "type": "object",
      "description": "Should include network_id and/or subnet_id or subnet_id/subnet-id or port_id as JSON",
      "properties": {
        "net-id": {
          "type": "string"
        },
        "subnet-id": {
          "type": "string"
        }
      }
    },
    "providerResponse": {
      "type": "object",
      "properties": {
        "provider": {
          "$ref": "#/definitions/providerObject"
        }
      }
    },
    "providerListResponse": {
      "type": "object",
      "properties": {
        "providers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/providerObject"
          }
        }
      }
    },
    "providerObject": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the provider"
        },
        "name": {
          "type": "string",
          "description": "Name of the provider"
        }
      }
    },
    "listResourcesResponse": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer"
        },
        "limit": {
          "type": "integer"
        },
        "total": {
          "type": "integer"
        },
        "servers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/server"
          }
        }
      }
    },
    "server": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The UUID of the server."
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/link"
          },
          "description": "Links to the resources in question."
        },
        "name": {
          "type": "string",
          "description": "The server name."
        }
      }
    },
    "link": {
      "type": "object",
      "properties": {
        "rel": {
          "type": "string"
        },
        "href": {
          "type": "string"
        }
      }
    },
    "InUseResources": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InUseResource"
          }
        }
      }
    },
    "InUseResource": {
      "type": "object",
      "properties": {
        "external_id": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "protecting",
            "restoring"
          ]
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "code": {
          "type": "integer"
        }
      }
    },
    "plansStatistics": {
      "type": "object",
      "properties": {
        "counts": {
          "type": "integer",
          "description": "The number of plans in the project at the time of the request"
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "description": "The total size of the backups in the project at the time of the request"
        }
      }
    },
    "checkpointStatistics": {
      "type": "object",
      "properties": {
        "counts": {
          "$ref": "#/definitions/entityCount"
        },
        "last_time": {
          "type": "integer",
          "description": "When the last checkpoint was created in Unix Timestamp"
        },
        "size": {
          "type": "integer",
          "description": "Size of all checkpoint resources' backups",
          "x-omitempty": true
        }
      }
    },
    "restoreStatistics": {
      "type": "object",
      "properties": {
        "counts": {
          "$ref": "#/definitions/entityCount"
        }
      }
    }
  }
}
